h1= @question.title
p= @question.body

= link_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?' }

- @question.answers.each do |answer|
  = render 'answers/answer', answer: answer
= render 'answers/form', resource: @answer
