h1= @question.title
p= @question.body

- if current_user.present? && current_user.author_of?(@question)
  = link_to 'Delete', @question, method: :delete

= render @question.answers
= render 'answers/form', resource: @answer