= form_tag('/search', method: :get, class: 'search' ) do
  = text_field_tag :query, "", class: 'input-group-text'
  = select_tag 'category', options_for_select(%w[All Question Answer Comment User]), class: 'btn btn-outline-primary dropdown-toggle'
  = submit_tag 'Search', class: 'btn btn-outline-primary'