<% if parent_obj.links.present? %>
  <p>Links:</p>
  <ul>
    <% parent_obj.links&.each do |link| %>
      <% if link.gist? %>
        <li><%= "Embedded gist: #{link.name}" %></li>
        <script src=<%= link.gist_js %>></script>
      <% else %>
        <li><%= link_to link.name, link.url %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>